    position: absolute;
    border-radius: 10px;
    right: 65px;
    width: 160px;
    height: 40px;
    top: 20px;
    background-color: white;
    text-align: center;
    line-height: 40px;
    color: #000;
    text-align: center;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

.news-card__save-button-container {
    display: inline-block;
    position: absolute;
    border-radius: 10px;
    right: 20px;
    width: 40px;
    height: 40px;
    top: 20px;
}

.news-card__save-button-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.news-card__save-button_unchecked {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-image: url('../../images/save_unchecked.png');
    background-size: cover;
    border: none;
    cursor: pointer;
}

.news-card__save-button_unchecked:hover {
    background-image: url('../../images/save_hovered.png');
}

.news-card__save-button_checked {
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background-image: url('../../images/save_checked.png');
    background-size: cover;
    border: none;
    cursor: pointer;
}

.news-card__content {
    margin-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

.news-card__date {
    margin-top: 0;
    margin-bottom: 12px;
    color: #B6BCBF;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.news-card__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
    color: #1A1B22;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.news-card__body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
    max-height: 110px;
}

.news-card__publication {
    color: #B6BCBF;
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-bottom: 24px;
}
