.confirmation-modal__sign-up-link {
    display: block;
    text-decoration: none;
    color: #2F71E5;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    margin-right: auto;
    margin-top: -8px;
}