.footer {
    display: flex;
    min-height: 80px;
    align-items: center;

}

.footer__copyright {
    margin-left: 104px;
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #B6BCBF;
    margin-bottom: 0;
}

.footer__group-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-right: 106px
}

.footer__home-link {
    margin-right: 40px;
}

.footer__triple-ten-link {
    margin-right: 40px;
}

@media (max-width: 850px) {
    .footer__copyright {
        margin-left: 40px;
    }

    .footer__group-right {
        margin-right: 40px;
    }
}

@media (max-width: 650px) {
    .footer {
        box-sizing: border-box;
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 22px;
    }

    .footer__copyright {
        margin-left: 16px;
    }


    .footer__group-right {
        box-sizing: border-box;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 20px;
        width: calc(100% - 32px);
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer__links {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        justify-content: space-between;
    }

    .footer__socials {
        margin-left: auto;
        margin-top: 12px;
    }
}